@import "../../styles/styles.scss";

.card-project {
  max-width: 330px;
  border-radius: 0.5rem;
  border: 2px solid var(--color-text);
  color: var(--color-text);
  cursor: pointer;

  &:hover {
    border-color: var(--color-primary);
  }

  &-media {
    border: none;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: var(--color-background);

    // &-stack-tech {}

    &-title {
      color: var(--color-white)
    }
  }

  &-actions {
    gap: 0.5rem;
    background-color: var(--color-background);

    button {
      width: 50%;
      color: var(--color-text);
      border-radius: 0.2rem;
      border: 1px solid var(--color-text);

      &:hover {
          color: var(--color-white);
          border-color: var(--color-primary);
          background-color: var(--color-primary);
          padding-bottom: 4px;
        }
    }
  }
}