@import "../styles/styles.scss";

.projects-page {
  padding: {
    top: 2rem;
    bottom: 4rem;
  }

  &-title {
    color: var(--color-white);

    &-icon {
      color: var(--color-primary);
    }
  }

  .complete-apps,
  .small-projects {
    gap: 3rem;
    margin: 3rem 0;
    position: relative;

    &-title {
      align-items: center;
      color: var(--color-white);
  
      svg {
        color: var(--color-primary);
      }
    }
  }

  .complete-apps-dots {
    position: absolute;
    top: 150px;
    left: -150px;
  }

  .complete-apps-square,
  .small-projects-square {
    display: flex;
    position: absolute;

    .square {
      flex: 1 0 8rem;
      border: 1px solid var(--color-text);

      &:after {
        content: '';
        display: block;
        padding-bottom: 100%;
      }
    }
  }

  .complete-apps-square {
    top: 3rem;
    right: -2rem;
  }

  .small-projects-square {
    top: -2rem;
    left: -15rem;
  }

  .small-projects-left-dots {
    position: absolute;
    bottom: -10rem;
    left: -10rem;
  }

  .small-projects-right-dots {
    position: absolute;
    top: 5rem;
    right: -10rem;
  }

}