@import "../../styles/styles.scss";

.card-skill {
  max-width: 200px;
  color: var(--color-text);
  border: 2px solid var(--color-text);
  background-color: var(--color-background);

  &-title {
    color: var(--color-white);
  }

  &-stack {
    gap: 0 0.5rem;
    flex-wrap: wrap;
  }
}